html, body{
    margin: 0;
    padding: 0;
}

.array-element,
.array-index {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.array-element {
}

.array-element span {
    background: white;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    margin: 3px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.array-index {
    background-color: rgb(253, 255, 225);
}

.array-row {
    display: flex;
}

#array {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.panel {
    width: 100%;
    padding: 20px;
    background-color: rgb(219, 240, 215);
    margin-bottom: 20px;
    /*
    display: flex;
    column-gap: 10px;
    align-items: center;
    */
}